{% extends 'base_staff.html' %}

{% block content %}

<!--作業一覧-->
<h2>- 在庫リスト -</h2>
{% if grouped_stocks %}
<ul>
    {% for grouped_stock in grouped_stocks %}
    <h2>{{ grouped_stock.product__name }}</h2> <!-- Display the product name as a header -->

    <table>
        <thead>
            <tr>
                <td>製品名</td>
                <td>ロッドナンバー</td>
                <td>成形担当者</td>
                <td>成形日時</td>
                <td>検査担当者</td>
                <td>検査日時</td>
                <td>在庫数</td>
                <td>引き継ぎ</td>
            </tr>
        </thead>
        <tbody>
            {% for stock in staffstocks %}
              {% if stock.product.name == grouped_stock.product__name %}
              <tr>
                <td>{{ stock.product.name }}</td>
                <td>{{ stock.lot_number }}</td>
                <td>{{ stock.molding_user }}</td>
                <td>{{ stock.molding_time }}</td>
                <td>{{ stock.inspection_user }}</td>
                <td>{{ stock.created_at }}</td>
                <td>{{ stock.stocks }}</td>
                <td>{{ stock.memo }}</td>

                {% if report.good_product is not None %}
                <td>{{ report.good_product }}</td>
                <td>{{ report.bad_product }}</td>
                {% endif %}

                <td><button><a href="{% url 'product_management:staff_stock_edit' stock.id %}">編集</a></button></td>
                <td><button><a href="{% url 'product_management:staff_stock_delete' stock.id %}">削除</a></button></td>
                
              </tr>
              {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <p>{{ grouped_stock.product__name }}合計在庫数: {{ grouped_stock.total_stocks }}</p>
    {% endfor %}
</ul>
{% endif %}
<a href="{% url 'product_management:staff_home' %}">ホーム画面</a>


{% endblock %}