{% extends 'base.html' %}

{% block content %}

<!--ユーザー一覧-->
<h1>社員リスト</h1>
{% if users %}
<ul>

        <table>
            <thead>
                <tr>
                    <th>ユーザー名</th>
                    <th>生年月日</th>
                    <th>携帯番号</th>
                    <th>メールアドレス</th>
                    <th>部署</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.birthday }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.department }}</td>

                    <td><button><a href="{% url 'product_management:staff_user_edit' user.id %}">編集</a></button></td>
                    <td><button><a href="{% url 'product_management:staff_user_delete' user.id %}">削除</a></button></td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
</ul>
{% endif %}

<a href="{% url 'product_management:staff_home' %}">ホーム画面(staff)</a>
{% endblock %}