{% extends 'base_staff.html' %}

{% block content %}
<h2>- 日報削除 -</h2>
<p><strong>日報を削除してもよろしいですか？</strong></p>
<form method="POST">
    {% csrf_token %}
    <p>製品名:{{ report.product.name }}</p>
    <p>製品コード: {{ report.product.code }}</p>
    <p>ロッドナンバー: {{ report.lot_number }}</p>
    <p>作業日時: {{ report.created_at.year }}/{{ report.created_at.month }}/{{ report.created_at.day }}</p>
    <input type="submit" value="削除">
</form>
<button><a href="{% url 'product_management:staff_report_list' %}">日報一覧に戻る</a></button>
{% endblock %}