<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>{% block title %} home {% endblock title %}</title>
</head>
<body>
    <table>
        <tr>
            <td><h2>「作業日報&生産管理」</h2></td>
            <td><p>{{ request.user.username }}さん</p></td>
            <td><button><a href="{% url 'daily_report:report_list' %}">ホーム画面</a></button></td>
            <td></td>
            <td>
                <button onclick="confirmLogout()"><a href="#">ログアウトします</a></button>
            </td>
        </tr>
    </table>
    <hr>
    {% block content %}
    {% endblock %}

    <script>
        function confirmLogout() {
            if (confirm("実行中の作業を終了してからログアウトすることをお勧めします。一日経つとデータを編集できなくなります。")) {
                window.location.href = "{% url 'accounts:logout_user' %}";
            }
        }
    </script>
</body>
</html>